<!DOCTYPE html>
<html lang="en">
    <head>
        <meta char="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>


<div class="container">
    <div class="jumbotron text-center">
        <h1>Mission to Mars</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape Mars Data</a></p>
                </div>
						

<div class="row">
<div class="col-md-12">
    <h1 class="heading"><strong> Mars Latest News</strong>
    <h3 class="heading">{{ mars.news_title }}</h4>
    <p>{{ mars.news_p }}</p>
</div>
</div>
            

<div class="row">
    <div class="col-md-8">
        <h1 class="heading"><strong>Featured Mars Image</strong></h1>
        <img src="{{ mars.featured_image_url }}" class="img-responsive"
            alt="Mars Images">
            <br>
</div>

<div class="col-md-4">
    <div class="col-md-12">
        <h1 class="heading"><strong> Mars Facts</strong></h1>
            <hr size=1>
            <table border="1" class="dataframe" style="width:50%;>
                {{mars.mars_html|safe}}
            </table>  
    </div>
    
</div> 

<table>
<tr>

    {% for img_url in mars.hemisphere_List %}   
    <td>
            <br>   
            <div class="col-md-10">    
            <br>
             
                <div class="caption"style="font-weight: bold;">
                    {{img_url['Title']}}
                </div> 
                <img class = "img img-thumbnail" src="{{img_url['Image URL']}}" alt="hemisphere" >
                  
            </div> 
            </div>
    <td>                                       
    {% endfor %}
</tr>
</table>


</div>


</div>

            

</div>
</body>
</html>
